////
/// HTML block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-a-boy-in-the-wild
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

///
/// Canvas backgrounds.
///
.x3p0-canvas-bg {
	z-index: 0;
	inset: 0;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100% !important;
	height: 100%;
	margin: 0 !important;
	pointer-events: none;
}

///
/// Fixed canvas backgrounds
///
.x3p0-canvas-bg--rising-embers,
.x3p0-canvas-bg--lost-moon,
.x3p0-canvas-bg--lost-motes,
.x3p0-canvas-bg--lost-terrain,
.x3p0-canvas-bg--motes {
	position: fixed;
}

.x3p0-canvas-bg--storm {
	height: 100vh;
}

///
/// Absolute positioned backgrounds.
///
.x3p0-canvas-bg--flow-field,
.x3p0-canvas-bg--snow-embers {
	position: absolute;
}


.x3p0-canvas-bg--storm {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100% !important;
	margin: 0 !important;
	height: 100vh;
	pointer-events: none;
}


// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------
