////
/// Separator block CSS.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-a-boy-in-the-wild
////

// -----------------------------------------------------------------------------
// Block fixes.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Block customizations.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Block style variations.
// -----------------------------------------------------------------------------

.is-style-separator-chapter-rule::before {
	transform-origin: left center;
	animation: rule-draw 0.6s ease-out both;
	animation-delay: 0.3s;
}
