////
/// Helper classes and special handling.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-a-boy-in-the-wild
////


:is(
	.wp-block-post-content,
	.wp-site-blocks
) > :where(
	[class*=is-style-arc-],
	[class*=is-style-mood-],
	[class*=is-style-season-],
	[class*=is-style-state-]
) {
	min-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
}

///
/// Light and dark mode classes for individual sections.
///
.is-light-mode {
	color-scheme: only light;
}

.is-dark-mode {
	color-scheme: only dark;
}


///
/// Cleans up smiley styling.
///
svg.wp-smiley {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
